# Emart Online Shopping - Assignment
Deadline: October 04, 11 AM. Send it to my email.

We have created a fabricated data about some purchases done via Emart Online Shopping! You are required to do the tasks.Usually your answer is just one line of code. Make sure to have have the attached 'Emart Online Shopping'dataset!

In [1]:
#Q1: Run pandas lib
import pandas as pd

In [2]:
#Q2: Read the attached CSV dataset 'Emart Online Shopping'
emart=pd.read_csv("C:/Users/oguru/Downloads/Emart Online Shopping")

In [3]:
#Q3: Display head of the'Emart Online Shopping' dataset 
emart.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [5]:
# Q4. check number of rows and columns
emart.shape

(10000, 14)

In [7]:
#Q5: Calculate average of the Purchase?
emart['Purchase Price'].mean()

50.34730200000025

In [ ]:
#Q6. find the highest purchase
emart[]

In [ ]:
#Q7. find the lowest purchase

In [11]:
#Q8. Find number of people who used English language 'en' on the Emart Shopping website

(emart['Language']).value_counts()['en']
(emart['Language']=='en').sum()

1098

In [17]:
#Q9. Count how many people have their job title as "engineer" ?
emart['Job'].str.contains('engineer').sum()

531

In [16]:
#Q10. Count people who purchase during the AM and PM ? 
emart['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [18]:
#Q11. find out the 3 most common Job Titles
emart['Job'].value_counts().nlargest(3)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Name: Job, dtype: int64

In [38]:
#Q12. Find out number of Mastercard holders who purchased over $86
x=emart[emart['CC Provider']=='Mastercard'] 
x['Purchase Price'].gt(86).sum()

128

In [31]:
#Q13.Find out the top 3 email providers

emart['Email'].apply(lambda x: x.split('@')[1]).value_counts().nlargest(3)

hotmail.com    1638
yahoo.com      1616
gmail.com      1605
Name: Email, dtype: int64

In [39]:
y=emart[emart['CC Provider']=='American Express']
(y['Purchase Price']>95).sum()

39

In [40]:
emart['Purchase Price'][emart['Lot']=='90 WT']

513    75.1
Name: Purchase Price, dtype: float64

In [47]:
emart['Address'][emart['CC Provider']=='Mastercard']

1       9374 Jasmine Spurs Suite 508\nSouth John, TN 8...
18      461 Christopher Square\nWest Michaelchester, C...
31                       USNS Alvarado\nFPO AA 27052-1231
35      93392 Webb Gardens Apt. 220\nLaurabury, AR 999...
41      779 Sydney Keys Apt. 119\nAnthonyside, NH 2179...
                              ...
9947        32827 Carl Inlet\nSouth Nicole, NY 38081-6636
9948    95544 Johnson Isle Suite 939\nMichaelberg, RI ...
9954    051 Samantha Wells Apt. 328\nScottborough, OR ...
9981    087 Larson Roads Apt. 587\nRicestad, WI 98077-...
9987       2754 Klein Mission\nJohnsonview, PA 64925-9624
Name: Address, Length: 816, dtype: object

In [49]:
emart.describe().T

,count,mean,std,min,25%,50%,75%,max
Credit Card,10000.0,2.341374e+15,2.256103e+15,6.040186e+10,3.056322e+13,8.699942e+14,4.492298e+15,6.012000e+15
CC Security Code,10000.0,9.072178e+02,1.589693e+03,0.000000e+00,2.800000e+02,5.480000e+02,8.160000e+02,9.993000e+03
Purchase Price,10000.0,5.034730e+01,2.901584e+01,0.000000e+00,2.515000e+01,5.050500e+01,7.577000e+01,9.999000e+01